In [1]:
# #DICT
# #Indexing
# Multiple data
# #ordered
# #mutable

In [6]:
d = { "a":"Apple", "b":"Ball"}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball'}
2

In [ ]:
#ordered
print(d["a"])
print(d["b"])

In [7]:
d = {"a":"apple"}
print(d)

{'a': 'apple'}

In [ ]:
#d = dict{}
#d = {}

In [9]:
#mutable
d = {}
d['a']="apple"
d['b'] = "bat"
d['c'] = "cat"
d["d"] = "dog"
d

{'a': 'apple', 'b': 'bat', 'c': 'cat', 'd': 'dog'}

In [10]:
#update 
a = { "a":"Apple", "b":"Ball"}
a['a']= "apple"
a['b'] = 'boy'
a

{'a': 'apple', 'b': 'boy'}

In [11]:
#add
a = { "a":"Apple", "b":"Ball"}
a['A'] = "ant"
a

{'a': 'Apple', 'b': 'Ball', 'A': 'ant'}

In [12]:
# print only keys
a = { "a":"Apple", "b":"Ball", "c":"cat"}
for i in a:
    print(i)

a
b
c

In [14]:
#print only values
a = { "a":"Apple", "b":"Ball", "c":"cat"}
for i in a.values():
    print(i)

Apple
Ball
cat
Apple
Ball
cat

In [18]:
#print only key pair values
a = { "a":"Apple", "b":"Ball", "c":"cat"}
for i in a.items():
    print(i)

history = {"id": 234455, "nsmr":"Tery"}
for i in history.keys():
    print(i)
    
for i in history.values():
    print(i)
    
for i in history.items():
    print (i)

('a', 'Apple')
('b', 'Ball')
('c', 'cat')
id
nsmr
234455
Tery
('id', 234455)
('nsmr', 'Tery')

In [23]:
phonebook = {}
n = int(input("Enter n ="))
for i in range(n):
    name=input("Enter name =")
    phone =int(input("Enter phone ="))
    phonebook[name] = phone
    
print(phonebook)

Enter n =1
Enter name =sds
Enter phone =22121
{'name': 22121}

In [24]:
#using loop to create dictionary
d = {}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone ="))
    d[name] = phone
print(d)

Enter n =1
Enter name = ssd
Enter phone =221212
{'ssd': 221212}

In [27]:
#cannot use arthimaetic operator
d = { "a":"Apple", "b":"Ball", "c":"cat"} 
a = {'e': "Egg", 'f':'fish'} 
c = {'g':'girl'} 
d.update(a) 
d.update(c) 
d

{'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'e': 'Egg', 'f': 'fish', 'g': 'girl'}

# cannot use arthimaetic operator
d = { "a":"Apple", "b":"Ball", "c":"cat"}
a = {'e': "Egg", 'f':'fish'}
c = {'g':'girl}
d.update(a)
d.update(c)
d

In [28]:
#del
d = { "a":"Apple", "b":"Ball", "c":"cat"}
del d['a']
del d['b']
d

{'c': 'cat'}

In [29]:
#pop
a = { "a":"Apple", "b":"Ball", "c":"cat"}
b = a.pop('a')
print(a)
print(b)

{'b': 'Ball', 'c': 'cat'}
Apple

In [33]:
#list inside dict
a = { "Ram":"[232334,54545]", "Shyam":"435353"}
a

{'Ram': '[232334,54545]', 'Shyam': '435353'}

In [62]:
#list inside dict
a = { "Ram":[232334,54545], "Shyam":435353}
print(a["Ram"])

[232334, 54545]

{'Ram': '[232334,54545]', 'Shyam': '435353'}

In [39]:
a = {"Ram":[232334,54545], "Shyam":435353}
print(a['Ram'][1])

54545

In [40]:
a = { "Ram":[232334,54545], "Shyam":435353}
a['Ram'][0] = 989833
a["Ram"][1] = 777777
a

{'Ram': [989833, 777777], 'Shyam': 435353}

In [42]:
#list inside dictionary
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name=input("Enter name =")
    ntc_phone=int(input("Enter ntc phone ="))
    ncell_phone = int(input("Enter ncell phone ="))
    d[name]=[ntc_phone, ncell_phone]
    
print(d)

Enter n = 2
Enter name =dsddd4
Enter ntc phone =343
Enter ncell phone =23234
Enter name =fdgtgt
Enter ntc phone =3434
Enter ncell phone =544
{'dsddd4': [343, 23234], 'fdgtgt': [3434, 544]}

In [44]:
#list inside dict
phonebook = {}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name =")
    primary_phone = int(input("Enter your primary number = "))
    secondary_phone = int(input("Enter your sec phone = "))
    phonebook[name] = [primary_phone, secondary_phone]
                          
print(phonebook)

Enter n =2
Enter name =Andy
Enter your primary number = 2222222
Enter your sec phone = 333333
Enter name =cane
Enter your primary number = 5432323
Enter your sec phone = 4444444
{'Andy': [2222222, 333333], 'cane': [5432323, 4444444]}

In [47]:
info = {'name':['Ram',"Shyam","Hari","Ram"], 'age':[78,89,67,89],'add':['Kathmandu','Bhaktapur','Lalitpur',"Kathmandu"]}
print(info)

{'name': ['Ram', 'Shyam', 'Hari', 'Ram'], 'age': [78, 89, 67, 89], 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Kathmandu']}

In [51]:
print(info['name'][0])
print(info['age'][0])
print(info['add'][0])
print(info['name'][3])

Ram
78
Kathmandu
Ram

In [52]:
#dict inside list
data = [{'name':'Andy', 'age': 34, 'add': 'ktm'},
        {'name': 'Shyma', 'age': 25, 'add':'jhapa'},
        {'name': 'Hari', 'age': 25, 'add':'thamel'}]
data[0]

{'name': 'Andy', 'age': 34, 'add': 'ktm'}

In [11]:
#dict inside list
data = [{'name':'Andy', 'age': 34, 'add': ['ktm','jhapa']},
        {'name': 'Shyma', 'age': 25, 'add':['jhapa', 'dhading']},
        {'name': 'Hari', 'age': 25, 'add':['thamel','thans']}]
data[0]

{'name': 'Andy', 'age': 34, 'add': ['ktm', 'jhapa']}

In [12]:
#dict inside dict
data = {1:{'name':'Andy', 'age': 34, 'add': 'ktm'},
       2:{'name': 'Shyma', 'age': 25, 'add':'jhapa'},
       3:{'name': 'Hari', 'age': 25, 'add':'thamel'}}
data[2]['add']

'jhapa'

In [ ]:
WAP to create dict inside dict with crud
wap to create list in dict with crud
wap to create dict inside list with crud

In [2]:
#wap to create list in dict with crud
d = {'name':[], 'age':[],'add':[]}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name =")
    age = int(input("Enter age ="))
    add = input("Enter add =")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
print(d)

Enter n =2
Enter name =ram
Enter age =32
Enter add =sir
Enter name =shyam
Enter age =45
Enter add =tret4
{'name': ['ram', 'shyam'], 'age': [32, 45], 'add': ['sir', 'tret4']}

In [4]:
#wap to create dict inside list with crud
list = []
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name =")
    age = int(input("Enter age ="))
    add = input("Enter add =")
    data = {'name':name,'age':age, 'add':add}
    list.append(data)
    
print(list)

Enter n =2
Enter name =ram
Enter age =23
Enter add =rer
Enter name =shyam4
Enter age =43
Enter add =rere
[{'name': 'ram', 'age': 23, 'add': 'rer'}, {'name': 'shyam4', 'age': 43, 'add': 'rere'}]

In [5]:
#WAP to create dict inside dict with crud
d = {}
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name =")
    age = int(input("Enter age ="))
    add = input("Enter add =")
    d[i] = {'name':name,'age':age, 'add':add}
      
print(d)

Enter n =2
Enter name =ram
Enter age =22
Enter add =re
Enter name =shyam
Enter age =33
Enter add =assds
{0: {'name': 'ram', 'age': 22, 'add': 're'}, 1: {'name': 'shyam', 'age': 33, 'add': 'assds'}}