In [1]:
math = int(input("Enter math Score ="))
chemistry = int(input("Enter chemistry Score ="))
physics = int(input("Enter physics Score ="))
english = int(input("Enter english Score ="))
nepali = int(input("Enter nepali Score ="))

total = math + chemistry + physics + english + nepali
per = total/5
if per > 80 or per == 80:
#if (per > 80) | (per == 80):
    grade = "A"
elif per >60 or per == 60:
    grade = 'B'
elif per > 45 or per == 45:
    grade = 'C'
else:
    grade = 'F'
print("The total marks =",total)
print("The per =", per)
print("the grade = ", grade)

Enter math Score =89
Enter chemistry Score =56
Enter physics Score =45
Enter english Score =34
Enter nepali Score =34
The total marks = 258
The per = 51.6
the grade =  C

In [2]:
#nested if
# if <condition>:
#     if <condition>:
#         <operation>
#     else:
#         <operation>
# else:
#      if <condition>:
#         <operation>
#     else:
#         <operation>

In [5]:
n = int(input("Enter n ="))
if n >= 0:
    if n % 2 == 0:
        print("The no. is +ve and even")
    else:
        print("The no. is +ve and odd")
else:
    if n % 2 != 0:
        print("The no. is -ve and odd")
    else:
        print("The no. is -ve and even")

Enter n =-1
The no. is -ve and odd

In [6]:
# for loop
# while loop

In [7]:
# for loop - run for certian loop if you know the iteration
# while loop - used for certain iteration

In [11]:
# for loop
# range(5) # 0, 1,2,3,4  for(i = 0; i<5;i++)
# range(1,5) # 1,2,3,4   for(i =1; i<5, i++)
# range(1,10,2) # 1,3,5,7,9  for(i = 1; i<5;i=i+2)

In [56]:
for i in range(5):
    print (i)

0
1
2
3
4

In [20]:
for i in range(5):
    print (i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [21]:
for i in range(1,5):
    print (i, "Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [22]:
for i in range(1,10,2):
    print (i, "Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [26]:
for i in range(1,10,2):
    print (i, "Hello World ", end = "")

1 Hello World 3 Hello World 5 Hello World 7 Hello World 9 Hello World

In [27]:
for i in range(1,11):
    print(5*1)

5
5
5
5
5
5
5
5
5
5

In [37]:
#

In [46]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [39]:
#overwrite of value
for i in range(3):
    x = int(input("Enter X ="))
    print(x)

Enter X =10
10
Enter X =20
20
Enter X =39
39

In [44]:
#run for 3 iterations specified 
s = 0
for i in range(3):
    x = int(input("Enter X ="))
    s = s + x
    print(s)

Enter X =2
2
Enter X =3
5
Enter X =4
9

In [48]:
# user defines how many times the loo[ runs
s = 0
n = int(input("Enter = "))
for i in range(n):
    x = int(input("Enter X ="))
    s = s + x
    print(s)

Enter = 2
Enter X =2
2
Enter X =2
4

In [47]:
# to get the factorial calculation
# to calculate grade of multiple students
# to create a billing system
  #  -name, price , quantity > total, trand total
#

In [3]:
# to get the facotrial
x = 1
n = int(input("Get the factorial of = "))
for i in range(n):
    x = x + (x * i)
    print(x)

Get the factorial of = 5
1
2
6
24
120

In [4]:
fac = 1
n = int(input("Enter n = "))
for i in range(1, n+1):
    fac = fac * i
    print(fac)

Enter n = 5
1
2
6
24
120

 n = int (input(No. of Items buy ="))
 for i in range(2):
     name = input("Item you buy = ")
     quantity = int(input("Enter the quantity = "))
     Price = float (input("Enter the value ="))
     Total = quantity * price
     print(Total)

In [2]:
fac = 1
n = int(input("Enter n = "))
if n >=0:
for i in range(1, n+1):
    fac = fac * i
    print(fac)
else:
    print("the value of n > =0")

SyntaxError: invalid syntax (511173723.py, line 9)

In [3]:
# to calculate grade of multiple students
n = int(input("Give the grade of n students"))
for i in range(n):
    Math = int(input("Give the grade of Math ="))
    Science = int(input("Give the grade of science"))
    English = int(input("Give the grade of Englist"))
    per = [(Math + English + English)/3]
    print(per)
grade = Grade[0] + Grade[1]
print(grade)

Give the grade of n students2

TypeError: 'int' object is not iterable

In [10]:
for i in range(3):
    print(i)

0
1
2

In [6]:
# n = int(input("No. of Items buy ="))
# for i in range(n): 
#     for p in range(n):
#         name = input("Item you buy = ") 
#         quantity = int(input("Enter the quantity = ")) 
#         Price = int(input("Enter the value =")) 
#         Total = quantity * Price 
#         print(Total)
#         Grand_total=(i+p, end "")
#         print(Grand_total)

In [14]:
# -name, price, quantity, total, grand total
info = ""
grand_total = 0
n = int(input("Enter n ="))
for i in range(n):
    name = input("enter name= ")
    price = int(input("Enter price ="))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    data = name + " " + str(price) + " " + str(quantity) + " " + str(total) + "\n"
    info = info + data
    grand_total = total + grand_total
    
print(info)
print(grand_total)

Enter n =2
enter name= app
Enter price =120
Enter quantity = 2
enter name= ban
Enter price =50
Enter quantity = 4
app 120 2.0 240.0
ban 50 4.0 200.0

440.0

In [17]:
data =str()  # another way to create empty string
n = int(input("Enter n + "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = name + " " + str(phone) + "\n"
    data = data + info 
    
print(data)

Enter n + 2
Enter name = andy
Enter phone = 212131334
Enter name = brian
Enter phone = 213324444
andy 212131334
brian 213324444

In [19]:
for i in range(1, 10):
    print(i * "o")

o
oo
ooo
oooo
ooooo
oooooo
ooooooo
oooooooo
ooooooooo

In [20]:
for i in range(5):
    print(i*" ",i * "o")

  o
   oo
    ooo
     oooo

In [22]:
c = 5
for i in range(5):
    print((c-1)*" ",i * "o",)
    c = c - 1

    o
   oo
  ooo
 oooo

In [23]:
c = 5
for i in range(5):
    print((c-1)*" ",i * "o",i * "o")
    c = c - 1

    o o
   oo oo
  ooo ooo
 oooo oooo

In [24]:
c = 5
for i in range(5):
    print((c-1)*" ",(2*i-1) * "o",)
    c = c - 1

    o
   ooo
  ooooo
 ooooooo

In [25]:
# control statement
# break  - to stop the loop
# continue  - when the condition meets, stop the current iteration and go to next iteration
#pass   - does not do anything

In [27]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [28]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [30]:
for i in range(5):
    pass

In [87]:
prin = 1160000
for i in range(3):
    interest=prin*0.08
    prin= prin + interest
    withdrawl = 120000
    prin = prin - withdrawl
    print(i, "Pincipal =", prin)
    income=30000
    prin=prin+income
    print(i, "Bal =", prin)

0 Pincipal = 1132800.0
0 Bal = 1162800.0
1 Pincipal = 1135824.0
1 Bal = 1165824.0
2 Pincipal = 1139089.92
2 Bal = 1169089.92

In [ ]:
# while <condition>;
#     <operation>

In [94]:
i = 0  #Initialization
while i <5:
    print(i,"Hello World")
    i = i+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [95]:
i = 1
while i <5:
    print(i,"Hello World")
    i = i+1

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [97]:
i = 1  #Initialization
while i <5:
    print(i,"Hello World")
    i = i+2

1 Hello World
3 Hello World

In [98]:
i = 1  #can use 0.5 in while loop, but not in for loop
while i <5:
    print(i,"Hello World")
    i = i+0.5

1 Hello World
1.5 Hello World
2.0 Hello World
2.5 Hello World
3.0 Hello World
3.5 Hello World
4.0 Hello World
4.5 Hello World

In [ ]:
i = 1
n = int(input("Enter n = "))
while i <=10:
    print(n, "*", i, "=", n*1)