In [1]:
a = 10
b = 10.5
c = "Hello world"
d = True

In [2]:
c = a + b
print(c)

20.5

In [5]:
c = a / b
print(c)

0.9523809523809523

In [6]:
a = 10
b = 3
c = a % b
print(c)

1

In [7]:
#use of power
a = 10
b = 3
c = a ** b
print(c)

1000

In [9]:
#if whole number required
a = 10
b = 3
c = a // b
print(c)

3

In [11]:
#concatenation
a = "hello "
b = "world"
c = a + b
print(c)

hello world

In [12]:
#concatenation
a = "hello "
b = 45
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str

In [16]:
#print no. of times using *
a = "hello\n"
b = 4
c = a * b
print(c)

hello
hello
hello
hello

In [20]:
# addition of boolean
a = True  #value 1 
b = False  #value 0
c = a + b
print(c)

1

In [23]:
# to check datatype
a = "hello"
print(type(a))

<class 'str'>

In [26]:
#pre-defined varaible
p = 1000
t = 4
r = 10.5

i = p*t*r/100
print("The value of i = ", i)

SyntaxError: invalid syntax (1781747883.py, line 4)

In [27]:
#use of user defined variable
a = input()
print(a)

10
10

In [28]:
a = input("Enter a = ")
print(a)

Enter a = 10
10

In [29]:
# takes all values as string as a default
a = input("Enter a = ")
b = input("Enter b =")
c = a + b
print(c)

Enter a = 10
Enter b =10
1010

In [30]:
# converts string into integer - typecasting
a = int(input("Enter a = "))
b = int(input("Enter b ="))
c = a + b
print(c)

Enter a = 10
Enter b =20
30

In [31]:
# int() str() float()

In [33]:
#converting integer into string
a = 10
b = str(a)
b

'10'

In [34]:
#converting string into integer
a = "20"
b = int(a)
b

20

In [35]:
#converting string into float
a = "10.5"
b = float(a)
b

10.5

In [36]:
#gets error when converting string with decimal into float
a = "10.5"
b = int(a)
b

ValueError: invalid literal for int() with base 10: '10.5'

In [40]:
#pre-defined varaible and conversion
p = int(input("Enter p = "))
t = float(input("Enter t ="))
r = float(input("Enter r ="))

i = p*t*r/100
print("The value of i = ", i)

Enter p = 1000
Enter t =2
Enter r =7
The value of i =  140.0

In [44]:
math = int(input("Enter math Score ="))
chemistry = int(input("Enter chemistry Score ="))
physics = int(input("Enter physics Score ="))
english = int(input("Enter english Score ="))
nepali = int(input("Enter nepali Score ="))

total = math + chemistry + physics + english + nepali
per = total/5
print("The total marks =",total)
print("The per =", per)

Enter math Score =99
Enter chemistry Score =89
Enter physics Score =99
Enter english Score =78
Enter nepali Score =88
The total marks = 453
The per = 90.6

name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter address = ")
info = "Hello I am " + name + "I am from " + address + "I am " + str(age)

In [5]:
name = input("Enter name = ") 
age = int(input("Enter age = ")) 
address = input("Enter address = ")
info = "Hello I am "  + name + "I am from " + address + "I am " + str(age)
print(info)

Enter name = aaro
Enter age = 9
Enter address = ktm
Hello I am aaroI am from ktmI am 9

In [6]:
a = 27
print(a**(1/3))

3.0