In [12]:
a = 10
print (a)

10

In [8]:
a = 10; b = 10.5

10

In [17]:
a = 10             #int
b = 10.5           #float
c = "Hello World"  #string
d = True           #Boolean

print(a)
print(b)
print(c)
print(d)

print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

In [18]:
print('hello world')

hello world

In [24]:
a = 10
b = 10.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [27]:
#array
a = 10,11
print(a)
print(a[0])

(10, 11)
10