In [1]:
# Python collection
# list
# topple
# dic
# set
# can store multiple data types

In [2]:
#list
# support indexing 
# Multiple and Duplicate data - #Mutable - changable
# Ordered
# Mutable

In [3]:
a = ['Apple', 'Ball', "cat","Fish"]
b = [1,2,3,4,5,6,7,8,9]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [6]:
a = ['Apple', 'Ball', "cat","Fish"]
print(a[0])
print(a[0:3])
print(a[0:3:2])

Apple
['Apple', 'Ball', 'cat']
['Apple', 'cat']

In [8]:
#ordered 
b = [1,2,3,4,5,6,7,8,9,1,2,3,4]
print(b)
print(len(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4]
13

In [9]:

a = ['Apple', 'Ball', "cat","Fish"]
b = [1,2,3,4,5,6,7,8,9]
c = a + b
print(c)

['Apple', 'Ball', 'cat', 'Fish', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a = ['Apple', 'Ball', "cat","Fish"]
b = [1,2,3,4,5,6,7,8,9]
c = a * 2
print(c)
print(b * 2)

['Apple', 'Ball', 'cat', 'Fish', 'Apple', 'Ball', 'cat', 'Fish']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# user defined list
$ to define empty list    a = [] or a = list()
a = list()
a = a + ["Apple"]
a = a + ["ball"]
a

In [15]:
# inserting values in empty list
a = []
n =  int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + [x]
    
print(a)

Enter n = 3
Enter x = 4
Enter x = 5
Enter x = 6
[4, 5, 6]

In [16]:
#getting max value
a = [4,5,6,87,875,435,3345]
print("The max value", max(a))

The max value 3345

In [17]:
#getting min value
a = [4,5,6,87,875,435,3345]
print("The min value", min(a))

The max value 4

In [19]:
#getting sum, avg value
a = [4,5,6,87,875,435,3345]
print("The sum value", sum(a))
print("The avg =" , sum(a)/len(a))

The sum value 4757
The avg = 679.5714285714286

In [21]:
#mutable - makes change in original list
a = [4,5,6,87,875,435,3345, 1,23,44]
a.sort()  # ascending
print(a)
a.reverse()
print(a)

[1, 4, 5, 6, 23, 44, 87, 435, 875, 3345]
[3345, 875, 435, 87, 44, 23, 6, 5, 4, 1]

In [23]:
a = ["Zebra", "Banana","Xray", "Appple", "Cat"]
a.sort()
print(a)

['Appple', 'Banana', 'Cat', 'Xray', 'Zebra']

In [24]:
# data entry
# append() insert() extend()

# delete value
# del remove() pop()

In [26]:
#append()
a = []
a.append("Apple")
a.append("Banana")
print(a)

['Apple', 'Banana']

In [28]:
a = []
n =  int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 3
Enter x = 34
Enter x = 43
Enter x = 43
[34, 43, 43]

#insert() - put the value in index mentioned
a = [243,34,3,546]
a.insert(1,100)   # here 1 is the index value

In [29]:
# store various data type, but cannot run certain function
a = [1,"one", 10.5]
print(a)

[1, 'one', 10.5]

In [30]:
a = [243,34,3,546]
for i in a:
    print(i)

243
34
3
546

In [35]:
a = [243,34,3,546]
print(a[1])

34

In [39]:
#extend()  - add multiple value
a = [243,34,3,546]
b = [1,2,3,4]
a.extend(b)
a

[243, 34, 3, 546, 1, 2, 3, 4]

In [40]:
#update
a = ["Zebra", "Banana","Xray"]
a[0] = "zebra"
a

['zebra', 'Banana', 'Xray']

In [41]:
#index - to find index - can be used for unique list
a = ["Zebra", "Banana","Xray"]
a.index("Zebra")

0

In [48]:
#find index of Zebra in duplicate
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
a.index("Zebra")
for i in range(len(a)):
    if a[i] == "Zebra":
        print(i)

0
3

In [49]:
#find index of Zebra in duplicate
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
a.index("Zebra")
for i in range(len(a)):
    if a[i] == "Zebra":
        a[i] = "zebra"
        
a

['zebra', 'Banana', 'Xray', 'zebra', 'apple', 'cat']

In [51]:
#delete 
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
del a[0]
a

['Banana', 'Xray', 'Zebra', 'apple', 'cat']

In [52]:
#remove()
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
a.remove("Banana")
a

['Zebra', 'Xray', 'Zebra', 'apple', 'cat']

In [53]:
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
a.pop(0)
print(a)

['Banana', 'Xray', 'Zebra', 'apple', 'cat']

In [2]:
## remove multiple
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
l=a.count("Zebra")
for i in range(l):
    a.remove("Zebra")
a

['Banana', 'Xray', 'apple', 'cat']

In [3]:
## remove multiple
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
a.index("Zebra")

0

In [4]:

a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
for i in a:
    print(i)

Zebra
Banana
Xray
Zebra
apple
cat

In [6]:
get the index of duplicate value
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
for i in range(len(a)):
    if a[i] == "Zebra":    
        print(i)

0
3

In [10]:
#search and count
a = ["Zebra", "Banana","Xray", "Zebra", "apple", "cat"]
if "Zebra" in a:
    print("Yes")
    print(a.count("Zebra"))
else:
    print("no")

Yes
2

In [11]:
#nested list/array/ two dimension array
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [17]:
info = [["Ram", 89, "KTM"],
       ["Shyam", 56, "Bhaktapur"],
       ["Hari",23, "Pokhara"]]

info[0]
print(info[0][0])
print(info[1][1])

Ram
56

In [19]:
info.append(["Sita", 54, "lalitpur"])

In [21]:
info[0]=["Rama", 44, "Bhatbhateni"]
info[0]

['Rama', 44, 'Bhatbhateni']

In [22]:
info[0][0] = "Ram Prasad"
info

[['Ram Prasad', 44, 'Bhatbhateni'],
 ['Shyam', 56, 'Bhaktapur'],
 ['Hari', 23, 'Pokhara'],
 ['Sita', 54, 'lalitpur']]

In [25]:
info = [["Ram", 89, "KTM"],
       ["Shyam", 56, "Bhaktapur"],
       ["Hari",23, "Pokhara"]]
for i in range(len(info)):
    x = input("Enter surname =")
    info[i].insert(1,x)
print(info)

Enter surname =er
Enter surname =ds
Enter surname =ds
[['Ram', 'er', 89, 'KTM'], ['Shyam', 'ds', 56, 'Bhaktapur'], ['Hari', 'ds', 23, 'Pokhara']]

In [28]:
# ask for last name and insert
info = [["Ram", 89, "KTM"],
       ["Shyam", 56, "Bhaktapur"],
       ["Hari",23, "Pokhara"]]
for i in range(len(info)):
    x = input(f"Enter surname = of {info[i][0]} = ")
    info[i].insert(1,x)
print(info)

Enter surname = of Ram =
Enter surname = of Shyam = sd
Enter surname = of Hari = sd
[['Ram', '', 89, 'KTM'], ['Shyam', 'sd', 56, 'Bhaktapur'], ['Hari', 'sd', 23, 'Pokhara']]

In [33]:
#search
info = [["Ram", 89, "KTM"],
       ["Shyam", 56, "Bhaktapur"],
       ["Hari",23, "Pokhara"]]
name = input("Enter name =")
for i in info:
    if name.lower() == i[0].lower():
        print(i)

Enter name =ram
['Ram', 89, 'KTM']