In [ ]:
# #set
# #no indexing
# No ordering
# Multiple values but no duplicate value
# Mutable 
#no key values pair

In [1]:
s = set()
s ={1,2,3,4,5,6,7,8,9}
type(s)

set

In [11]:
s = {"Apple", "Ball","Cat", "Fish", "Dog"}
print(s)

{'Cat', 'Fish', 'Apple', 'Dog', 'Ball'}

In [13]:
#removes duplicates
s = {35,34,24,53,53,34,34}
print(s)

{24, 34, 35, 53}

In [14]:
#conversion
s = [2,3,2,43,23,4,3]
list(set(s))

[2, 3, 4, 43, 23]

In [15]:
#Mutable
s = set()
s.add('apple')
s.add('ball')
s.add('cat')
s

{'apple', 'ball', 'cat'}

In [ ]:
# in set and dic, no + * concatenation

In [16]:
# update()
a = {1,2,3,4,5}
b = {6,7,8,9,4,3}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
# no list inside set
a = {[1,2,3]}
a

TypeError: unhashable type: 'list'

In [18]:
#no dict inside set
a = {{"a":"apple"}}
a

TypeError: unhashable type: 'dict'

In [19]:
#can have tuple inside set
a = {(1,2,3)}
a

{(1, 2, 3)}

In [20]:
#no set inside set
a = {{1,2,3}}
a

TypeError: unhashable type: 'set'

In [21]:
apple = {"Ram", "shyam","Hari", "jobs","steve","John"}
ms = {"satya", "bill", "gates","Hari","John","nabin"}
print(apple.intersection(ms))

{'John', 'Hari'}

In [23]:
apple = {"Ram", "shyam","Hari", "jobs","steve","John"}
ms = {"satya", "bill", "gates","Hari","John","nabin"}
print(apple.union(ms))

{'gates', 'Ram', 'satya', 'bill', 'nabin', 'John', 'Hari', 'jobs', 'shyam', 'steve'}

In [24]:
apple-ms

{'Ram', 'jobs', 'shyam', 'steve'}

In [25]:
ms-apple

{'bill', 'gates', 'nabin', 'satya'}

In [26]:
(apple-ms).union(ms-apple)

{'Ram', 'bill', 'gates', 'jobs', 'nabin', 'satya', 'shyam', 'steve'}

In [28]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {2,4,6,8,0}
print(a.issubset(b))
print(b.issubset(a))

False
True

In [29]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {2,4,6,8,0}
print(a.issuperset(b))
print(b.issuperset(a))

True
False