In [1]:
a = 'Hello World'
b = "Hello world"
c = '''Hello world'''

print(type(a), type(b), type(c))

<class 'str'> <class 'str'> <class 'str'>

In [2]:
a = "Hello world\n"
print(a*2)

Hello world
Hello world

In [3]:
a = "Hello world"
for i in a:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [5]:
a = "Hello world"
print(len(a))

11

In [21]:
#string has the index/position
a = "Hello world I am Pythin"
print(a[2])
print(a[8])
print(a[0:5])  # provide character from 0 to 5 index and increment by 1 as default
print(a[0:5:2]) # provide character from 0 to 5 index and increment by 2
print(a[:]) # gives all character

l
r
Hello
Hlo
Hello world I am Pythin

In [20]:
# start reverse index from right to left (last to first)
a = "Python"
print(a[-1])
print(a[-1])

n

In [19]:
a = "Python"
print(a[::-1])

nohtyP

In [22]:
# print last 3 character in reverse order
a = "Hello world I am Python"
print(a[-1:-4:-1])

noh

In [25]:
#String formating  - do not forget to use "f"
name = input("Enter name =")
age = int(input("Enter age ="))
add = input("Enter address = ")

#info = "Hello world I am " + name + "I am from" + add + "I am " + str(age)
info = f"Hello world I am{name}. I am from {add}. I am {age}."
print(info)

Enter name =andy
Enter age =34
Enter address = ktm
Hello world I amandy. I am from ktm. I am 34.

In [26]:
#use search 
a = "Ram shyam Hari Nabin Akash Sita Manish Ramesh"
name = "shyam"
if name in a:
    print("Yes, there is")

Yes, there is

In [27]:
a = "Ram shyam Hari Nabin Akash Sita Manish Ramesh"
name = "Rajesh"
if name not in a:
    print("No, there is")

No, there is

In [1]:
#use search 
a = "Ram shyam Hari Nabin Akash Sita Manish Ramesh"
name = input("Enter name = ")
if name in a:
    print("Yes, there is")
    print(a.count(name))

Enter name = d

In [33]:
3use of emutable data type
a = "Ram shyam Hari Nabin Akash Sita Manish Ramesh"
print(a.lower())
print(a.upper())

ram shyam hari nabin akash sita manish ramesh
RAM SHYAM HARI NABIN AKASH SITA MANISH RAMESH

In [35]:
a = "Ram shyam Hari Nabin Akash Sita Manish Ramesh"
print(a.title())

Ram Shyam Hari Nabin Akash Sita Manish Ramesh

In [4]:
a = "Ram shyam Hari Nabin Akash Sita Manish Ramesh".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes, there is")
    print(a.count(name))

Enter name = rAm
Yes, there is
2

In [5]:
a = "Ram shyam Hari Nabin Akash Sita Manish Ramesh".lower()
a.split()

['ram', 'shyam', 'hari', 'nabin', 'akash', 'sita', 'manish', 'ramesh']