In [1]:
#Tuple - need to have comma and () 
# Indexing
# Multiple and Duplicate data
# Ordered
# Imutable   - static data, does not change like 50 states in usa

a = (1,2)
type(a)

tuple

In [2]:
a = (1,2,3,4,5,6,7,8,9)
print(a[0])
print(a[0:5])
print(a[0:10:2])

1
(1, 2, 3, 4, 5)
(1, 3, 5, 7, 9)

In [3]:
a = (1,2,3,4,5,6,7,8,9,1)
print(a[0])
print(a[0:5])
print(a[0:10:2])

1
(1, 2, 3, 4, 5)
(1, 3, 5, 7, 9)

In [4]:
#ordered
a = (1,2,3,4,5,6,7,8,9)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
a = (1,2,3,4)
b = (6,7,8,9)
c = a + b
print(c)

(1, 2, 3, 4, 6, 7, 8, 9)

In [7]:
a = (1,2,3,4)
print(a*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [8]:
# No append() insert() extend()
# Can not be reordered
# no delete() remove() pop() del
# No sort

SyntaxError: invalid syntax (3717320112.py, line 1)

In [9]:
# we can do max() min() sum() index()
# takes less memory

In [10]:
a = ()
b = a + ("Apple")  #variable
b

TypeError: can only concatenate tuple (not "str") to tuple

In [11]:
a = ()
b = a + ("Apple",)  #variable
c = b + ("banana",)
c

('Apple', 'banana')

In [6]:
#forcefully add in tuple via concatenantion
t = ()
n = int(input("Enter n ="))
for i in range(n):
    x = input("enter valu for tuple =")
    t = t + (x,)
    
print(t)

Enter n =4
enter valu for tuple =23
enter valu for tuple =43
enter valu for tuple =23
enter valu for tuple =23
('23', '43', '23', '23')

a = (1,2,3)
b = list(a)
b

In [15]:
a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

In [16]:
a = (1,2,3)
b = list(a)
del b[0]
a = tuple(b)
a

(2, 3)

In [17]:
convert strint into list
a = "python"
list(a)

['p', 'y', 't', 'h', 'o', 'n']

In [18]:
#convert string into tuple
a = "python"
tuple(a)

('p', 'y', 't', 'h', 'o', 'n')

In [19]:
#cannot convert int into tuple
a = 11
tuple(a)

TypeError: 'int' object is not iterable